body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #0d1117;
  min-height: 100vh;
}

#mainTitle {
  text-align: center;
  margin: 50px 0;
  color: white;
}

#mainTitle h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.linkContainer a {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  width: auto;
  color: white;
}
.linkContainer a img, .hoverButton img {
  margin-right: 5px;
  width: 20px;
}



.linkContainer a[href*="discord"] {
  background-color: #7289d9;
  
}
.linkContainer a[href*="discord"]:hover {
  opacity: 0.85;
  transform: scale(1.10);
  transition: all 0.3s ease;
}
.linkContainer a[href*="steamcommunity"] {
  background: linear-gradient(135deg, #1b2736 0%, #243357 50%, #193472 100%);
  
}
.linkContainer a[href*="steamcommunity"]:hover {
  opacity: 0.85;
  transform: scale(1.10);
  transition: all 0.3s ease;
}
.linkContainer a[href*="paypal"] {
  background: linear-gradient(135deg, #002450 0%, #008bfd 100%);
}
.linkContainer a[href*="paypal"]:hover {
  opacity: 0.85;
  transform: scale(1.10);
  transition: all 0.3s ease;
}
.hoverButton {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(135deg, #1b2736 0%, #243357 50%, #193472 100%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.hoverButton img {
  margin-right: 5px;
  width: 15px;
}
.hoverButton span {
  transition: opacity 0.3s ease;
}

.hoverButton::after {
  content: "1571990998";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  color: white;
}

.hoverButton:hover span {
  opacity: 0;
}

.hoverButton:hover::after {
  opacity: 1;
}
.hoverButton:hover {
  opacity: 0.85;
  transform: scale(1.10);
  transition: all 0.3s ease;
}
.hoverButton.copied::after {
  content: "COPIED";
  opacity: 1 !important;
}

.hoverButton.copied span {
  opacity: 0 !important;
}
#inputSection {
  background: #0d1117;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
#inputSection input, textarea, button{
  background-color: #1e1e1e;
  color: #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;

}
#inputSection input::placeholder, textarea::placeholder {
    color: #ddd;   
}
#inputSection button {
    color: white;
}
#inputSection button:hover {
  background-color: #3b6fd1;
  color: #000000;
  transform: scale(1.10);
}
#commentWrapper {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#commentSection {
  display: flex;
  flex-direction: column-reverse;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  color:    white;
}
.comment:hover{
  background-color: #252525;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px 0;
}
.comment .author {
  font-weight: bold;
}

.comment .date {
  font-size: 0.8em;
  color: gray;
}

textarea {
  width: 100%;
  height: 60px;
  resize: none;
}
