body {
    margin: 0;
    height: 100vh; /* Full height of viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.maintitle, .discordlink {
    margin: 10px;
}
